#button1{
    width: 350px;
    height: 60px;
    background: #3AE3A8;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    border-style: hidden;
}