#regole, .info{
    font-family: "Inter";
    font-weight: normal;
    font-size: 16px;
    line-height: auto;
    color: #000000;
}
#regole{
    margin-bottom: 80px;
    width: 548px;
}
.info{
    margin-bottom: 3px;
    width: 350px;
}
#mess1, #mess2{
    margin-top: 18px;
    align-items: center;
}
.invs{
    display: none;
}
.m0{
    margin: 0;
}  